 :root {
   --dark: #1a1a1a;
   --white: #ffffff;
   --ligth-grey: #efefef;
   --gold: #ecd5a7;
 }

 * {
   overflow-x: none;
 }

 .bg-dark {
   background-color: var(--dark) !important;
 }

 .nav-link {
   color: var (--white);
   text-transform: uppercase;
   font-size: .8rem;
 }
